* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 99.35%;
}

body {
    background-image: linear-gradient(80deg, #2f546c, rgb(60, 60, 143));
    background-size: cover;
    /* Ensures the background image covers the whole screen */
    background-position: center;
    /* Centers the background image */
    background-repeat: no-repeat;
    /* Prevents the background from repeating */
    background-attachment: fixed;
    /* Keeps the background fixed when scrolling */
    min-height: 100vh;
    color: aliceblue;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    
}

h1,
h2 {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    color: aliceblue;
}

header {
    width: 100%;
    background-color: #080c2c;
    padding: 10px;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
}

.headerUl {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0 10px;
}

.headerLink {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}

.headerLink:hover {
    text-decoration: underline;
}

.headerIcon {
    width: 260px;
}

/* Estilos das seções */
.left-container,
.right-container {
    width: 100%;
    /* Ajustar para ocupar toda a largura disponível */
    max-width: 600px;
    /* Definir uma largura máxima */
    background-color: #2e2d2d;
    box-shadow: 0 0 20px #374088;
    padding: 20px;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelCalculoConsumo {
    font-size: 24px;
    font-weight: 100;
    font-family: "Archivo", sans-serif;
    margin-bottom: 10px;
}

.divConsumo {
    display: block;
    margin-top: 20px;
}

.dropdown {
    width: 120px;
    height: 36px;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

/* Dropdown da Estação */
.selecioneTensao,
.selecionePotencia,
.selecioneEstacao {
    margin-top: 10px;
    text-align: center;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    flex-wrap: wrap;
    max-width: 100%;
}

.select {
    width: 120px;
    height: 30px;
    background-color: #404a99;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5em;
    padding: 0.3em;
    cursor: pointer;
    transition: 0.3s;
}

.select-clicked {
    box-shadow: 0 0 0.8em #374088;
}

.select:hover {
    background-color: #374088;
}

.select>span {
    font-family: sans-serif;
    font-size: 16px;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: #6094b4;
    border: 1px solid #374088;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: azure;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    font-family: sans-serif;
    font-size: 16px;
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #6094b4;
}

.active {
    background: #374088;
}

.menu-open {
    display: block;
    opacity: 1;
}

.selecionePot {
    margin-top: 20px;
    width: 600px;
    /* align-items: center; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* Alinha os itens verticalmente */
}

.inputTempo {
    width: 100%;
    /* Largura total do container */
    max-width: 150px;
    /* Largura máxima */
    height: 30px;
    padding: 4.8px;
    border-radius: 0.5em;
    background-color: #404a99;
    color: azure;
    font-size: 16px;
    font-family: sans-serif;
    outline: none;
}

.inputTempo:hover {
    border: none;
    outline: none;
}

.inputTempo::placeholder {
    font-size: 16px;
    color: azure;
    font-family: sans-serif;
}

.btnCalcular {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #404a99;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.btnLimpar {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

#caixaResultado {
    display: none;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-family: "Archivo", sans-serif;
    border-radius: 0.5em;
    border: 2px solid #404a99;
    margin-top: 20px;
}

#caixaResultadoAgua {
    display: none;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-family: "Archivo", sans-serif;
    border-radius: 0.5em;
    border: 2px solid #404a99;
    margin-top: 20px;
}

canvas {
    width: 100%;
    height: auto;
    margin-top: 15px;
}

.totaisContainer {
    background-color: #2e2d2d;
    box-shadow: 0 0 20px #374088;
    padding: 20px;
    border-radius: 0.5em;
    margin-top: 20px;
    font-family: "Archivo", sans-serif;
    font-size: 18px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.totaisContainer h2 {
    margin-bottom: 20px;
}

.totaisContainer {
    line-height: 50px;
}

/* Estilo para o botão de alternância de tema */
#toggleTheme {
    background-color: #404a99;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

#toggleTheme:hover {
    background-color: #374088;
}

@media (max-width: 1024px) {

    .left-container,
    .right-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .totaisContainer {
        width: 100%;
    }
}

@media (max-width: 768px) {
    body {
        height: auto;
        width: auto;
        max-width: '100vw';
    }

    header {
        /* position: fixed; */
        top: 0;
        /* width: 100%; */
        /* z-index: 1000; */
    }

    main {
        flex-direction: column;
        /* margin-top: 725px; */
        /* Adiciona um espaçamento abaixo do header */
        padding: 10px;
        width: 100vw;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .left-container,
    .right-container {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
        box-sizing: border-box;
        max-width: 100vw;
    }

    .totaisContainer {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        margin-top: 20px;
        max-width: 100vw;
    }

    .selecionePot {
        flex-direction: column;
    }

    .inputTempo {
        width: 100%;
        /* Make header full width */
    }

    .headerUl {
        flex-direction: column-reverse;
        /* Stack items vertically */
        text-align: center;
    }

    .headerIcon {
        width: 150px;
        /* Reduce the logo size */
    }

    .headerLink {
        font-size: 16px;
        /* Adjust link font size */
        margin: 5px 0;
        /* Add spacing between links */
    }

    .selecionePot {
        flex-direction: column;
        /* Stack dropdown and input vertically */
        align-items: center;
        width: 100%;
        /* Full width of the container */
    }

    .dropdown,
    .inputTempo {
        margin: 10px 0;
        /* Add spacing between items */
    }

    .btnCalcular {
        display: flex;
        justify-content: center;
        max-width: 100%;
        margin-top: 20px;
        /* Add some margin to the top */
        font-size: 16px;
        /* Slightly reduce font size */
        text-align: center;
        width: 100%;
    }

    .btnCalcular,
    .btnLimpar {
        width: 100%;
        text-align: center;
        font-size: 16px;

        /* Result Box Adjustments */
        #caixaResultado {
            width: 40vw;
            /* Scale the result box */
            height: auto;
            /* Adjust height automatically */
            font-size: 16px;
            /* Adjust text size */
            padding: 8px;
        }
    }

    #toggleTheme {
        margin-top: 10px;
        /* Add some margin to the top */
    }

    .orientation-warning {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        font-family: "Archivo", sans-serif;
        font-size: 18px;
        text-align: center;
        padding: 20px;
        z-index: 1000;
    }

    @media (max-width: 768px) and (orientation: portrait) {
        .orientation-warning {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}